/* Extensions to Mozilla's Reader.css */

#reader-content {
    display: block;
}
#reader-header {
    display: block;
}

body.readability-mode {
    --manabi-reader-max-width-override: 40em;
}

body.readability-mode,
body.readability-mode #reader-header,
body.readability-mode #reader-content,
body.readability-mode #reader-content > .page,
body.readability-mode #reader-content > article,
body.readability-mode #reader-content > div,
body.readability-mode #reader-content .page > article,
body.readability-mode #reader-content [style*="max-width"]:not(img):not(video):not(canvas) {
    max-width: var(--manabi-reader-max-width-override) !important;
    width: auto !important;
}

body.readability-mode:lang(ja),
body.readability-mode #reader-header:lang(ja),
body.readability-mode #reader-content:lang(ja),
body.readability-mode #reader-content :lang(ja),
body.readability-mode mnb-sen,
body.readability-mode mnb-seg {
    line-break: strict;
    -webkit-line-break: strict;
    word-break: normal;
    overflow-wrap: normal;
    hanging-punctuation: allow-end last;
    font-feature-settings: "vchw" 1, "chws" 1;
}

/* TODO: Fonts! */
